.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  
  .form-content-left {
    background: linear-gradient(90deg, rgb(207, 83, 66), rgba(218, 218, 28, 0.836) 100%);
    border-radius: 10px 0 0 10px;
    position: relative;
  }

  .txt-left{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-size: 70px;
  }
  
  .fa-wine-glass-alt{
    color: #fff;
    margin-left: 220px;
    font-size: 70px;
  }

  .form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }
  
  .form-content-right {
    font-size: 24px;
    color: rgb(0, 0, 0);
    background: rgb(234, 248, 157);
  }
  .borda-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  li{
    list-style-type: none;
  }
  
  
  .form-inputs {
    
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    width: 400px;
    margin: 10px;
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    border: none;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .texto{
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    border: none;
  }

  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: rgb(207, 83, 66) ;
    outline: none;
    border: none;
    color: #fff;
    font-size: 24px;
    transition: all 1s ease-out;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background:rgba(218, 218, 28, 0.836);
    transition: all 1s ease-out;
  }
  